{% extends "layout.html" %}

{% block pagehead %}
        <!--头部开始 -->
        <div class="headimg" id = "headimg">
            <img src="../static/res/img/bg3.jpg" width="100%" height="100%" />
        </div>
        <div class="head_index" id="headd">
            <div class="cont">
                <div class="head-left"><a href="http://www.ustc.edu.cn/"><img src="../static/res/img/logo.png" alt="" width="100%" height="100%" /></a></div>
                <div class="nav">
                    <!--导航条-->
                    <ul class="nav-main">
                        <li class="active">
                            <a href="/index.html" >HOMEPAGE</a>
                        </li>
                        <li id="li-6">
                            <a href="/news.html">NEWS</a>
                        </li>
                        <li id="li-1">
                            <a href="/research.html">RESEARCH</a>
                        </li>
                        <li id="li-4">
                            <a href="/projects.html">PROJECTS</a>
                        </li>
                        <li id="li-2">
                            <a href="/people.html">PEOPLE</a>
                        </li>
                        <li id="li-3">
                            <a href="/publications.html">PUBLICATIONS</a>
                        </li>
                        <li id="li-5">
                            <a href="/information.html">INFORMATION</a>
                        </li>
                    </ul>
                </div>
                <!-- <script type="text/javascript" src="js/main.js"></script> -->
            </div>
        </div>
        <div class="banner" id="bann">
            <ul class="banList">
                <li class="active"><img src="../static/res/img/img1.jpg" width="100%"  /></li>
                <li><img src="../static/res/img/img2.jpg" width="100%"/></li>
                <li><img src="../static/res/img/img3.jpg" width="100%"/></li>
                <!--<li><img src="../static/res/img/img4.jpg"/></li>
                <li><img src="../static/res/img/img5.jpg"/></li> -->
            </ul>
            <div class="fomW">
                <div class="jsNav">
                    <a href="javascript:;" class="trigger current"></a>
                    <a href="javascript:;" class="trigger"></a>
                    <a href="javascript:;" class="trigger"></a>
                    <!--<a href="javascript:;" class="trigger"></a>
                    <a href="javascript:;" class="trigger"></a> -->
                </div>
            </div>
            <!--
            <ul class="imgtxt">
                <li class="active">Josefin Slab was the first typeface–at least in my mind–I designed! But I decided to start simple with Josefin Sans. </li>
                <li>Following the 1930s trend for geometric typefaces, it just came to me that something between Kabel and Memphis with modern details will look great.</li>
                <li>Following the 1930s trend for geometric typefaces, it just came to me that something between Kabel and Memphis with modern details will look great.</li>
            </ul>
            -->
        </div>
        <br>
        <br>
        <div class="left_right">
            <div class="homearea">
                <table border="0">
                  <tr>
                    <th colspan="2"><div class="hometitle"> NEWS </div> </th>
                  </tr>
                  <tr>
                    <td class="td_home">
                        <div class="newsimg">
                            <img class="newsimg1" src="../static/res/img/newsimg1.jpg"/>
                        </div>
                    </td>
                    <td>
                        <h4>The spectacle before us</h4>
                        <p class="p_table">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, anhad reached a great height in the atmosphere, for the sky was a dead black, an</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="td_home">
                        <div class="newsimg">
                            <img class="newsimg1" src="../static/res/img/newsimg2.jpg"/>
                        </div>
                    </td>
                    <td><h4>The spectacle before us</h4>
                        <p class="p_table">Apparently we had reached a great height in the atmosphere, f</p></td>
                  </tr>
                  <tr>
                    <td class="td_home">
                        <div class="newsimg">
                            <img class="newsimg1" src="../static/res/img/newsimg3.jpg"/>
                        </div>
                    </td>
                    <td><h4>The spectacle before us</h4>
                        <p class="p_table">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, anhad reached a great height in the atmosphere</p></td>
                  </tr>
                  <tr>
                    <td class="td_home">
                        <div class="newsimg">
                            <img class="newsimg1" src="../static/res/img/newsimg1.jpg"/>
                        </div>
                    </td>
                    <td><h4>The spectacle before us</h4>
                        <p class="p_table">Apparently we had reached a great height </p></td>
                  </tr>
                  <tr>
                    <td class="td_home">
                        <div class="newsimg">
                            <img class="newsimg1" src="../static/res/img/newsimg1.jpg"/>
                        </div>
                    </td>
                    <td><h4>The spectacle before us</h4>
                        <p class="p_table">Apparently we had reached a great height </p></td>
                  </tr>
                  
                </table>
            </div>
            <div class="linkarea">
                <table border="0">
                  <tr>
                    <th colspan="3"><div class="hometitle"> INCOMING TALKS </div></th>
                  </tr>
                  <tr>
                    <td rowspan="3">
                        <p class="cal">
                            <time class="dtstart">
                                <span class="time">
                                    <span class="my">
                                        Nov
                                    </span> 
                                    <span class="day">
                                        10
                                    </span>
                                </span>
                            </time>
                        </p>
                    </td>
                    <td>Xiang-Yang Li's talk about Internet Thins & AI</td>
                  </tr>
                  <tr>
                    <td class="tabcalvalue">WHEN: January 31, 2018</td>
                  </tr>
                  <tr>
                    <td class="tabcalvalue">WHERE: ROOM#602, Building#7, USTC, Hefei</td>
                  </tr>
<!--                   <tr><td><br></td><td></td><td></td></tr> -->
                  <tr>
                    <td rowspan="3">
                        <p class="cal">
                            <time class="dtstart">
                                <span class="time">
                                    <span class="my">
                                        Nov
                                    </span> 
                                    <span class="day">
                                        11
                                    </span>
                                </span>
                            </time>
                        </p>
                    </td>
                    <td>Xiang-Yang Li's talk about Internet Thins & AI</td>
                  </tr>
                  <tr>
                    <td class="tabcalvalue">WHEN: January 31, 2018</td>
                  </tr>
                  <tr>
                    <td class="tabcalvalue">WHERE: ROOM#602, Building#7, USTC, Hefei</td>
                  </tr>
                </table>
                <br>
                <table border="0">
                  <tr>
                    <th colspan="3"><div class="hometitle"> CONFERENCE CALENDAR </div></th>
                  </tr>
                  <tr>
                    <td rowspan="3">
                        <p class="cal">
                            <time class="dtstart">
                                <span class="time">
                                    <span class="my">
                                        Nov
                                    </span> 
                                    <span class="day">
                                        07
                                    </span>
                                </span>
                            </time>
                        </p>
                    </td>
                    <td colspan="2">SIGCOMM</td>
                  </tr>
                  <tr>
                    <td class="tabcalkey">Paper submission deadline:&nbsp</td>
                    <td class="tabcalvalue"> January 31, 2018</td>
                  </tr>
                  <tr>
                    <td class="tabcalkey">Main conference:&nbsp</td>
                    <td class="tabcalvalue">August 21-23, 2018</td>
                  </tr>
<!--                   <tr><td><br></td><td></td><td></td></tr> -->
                  <tr>
                    <td rowspan="3">
                        <p class="cal">
                            <time class="dtstart">
                                <span class="time">
                                    <span class="my">
                                        Nov
                                    </span> 
                                    <span class="day">
                                        07
                                    </span>
                                </span>
                            </time>
                        </p>
                    </td>
                    <td colspan="2">SIGCOMM</td>
                  </tr>
                  <tr>
                    <td class="tabcalkey">Paper submission deadline:&nbsp</td>
                    <td class="tabcalvalue"> January 31, 2018</td>
                  </tr>
                  <tr>
                    <td class="tabcalkey">Main conference:&nbsp</td>
                    <td class="tabcalvalue">August 21-23, 2018</td>
                  </tr>
                </table>
            </div>
        </div>

    {% endblock %}
    
