{% extends "layout.html" %}

{% block pagehead %}
        <!--头部开始 -->
        <div class="headimg">
            <img src="../static/res/img/bg3.jpg"/>
        </div>
        <div class="head" id="headd">
            <div class="cont">
                <div class="head-left"><a href="http://www.ustc.edu.cn/"><img src="../static/res/img/logo.jpg" alt="" /></a></div>
                <div class="nav">
                    <!--导航条-->
                    <ul class="nav-main">
                        <li class="active">
                            <a href="index.html" >HOMEPAGE</a>
                        </li>
                        <li id="li-1">
                            <a href="research.html">RESEARCH</a>
                        </li>
                        <li id="li-4">
                            <a href="projects.html">PROJECTS</a>
                        </li>
                        <li id="li-2">
                            <a href="people.html">PEOPLE</a>
                        </li>
                        <li id="li-3">
                            <a href="publications.html">PUBLICATIONS</a>
                        </li>
                    </ul>
                </div>
                <!-- <script type="text/javascript" src="js/main.js"></script> -->
            </div>
        </div>
        <div class="banner" id="bann">
            <ul class="banList">
                <li class="active"><a href="http://www.baidu.com/"><img src="../static/res/img/img1.jpg"/></a></li>
                <li><a href="http://www.baidu.com/"><img src="../static/res/img/img2.jpg"/></a></li>
                <li><a href="http://www.baidu.com/"><img src="../static/res/img/img3.jpg"/></a></li>
            </ul>
            <div class="fomW">
                <div class="jsNav">
                    <a href="javascript:;" class="trigger current"></a>
                    <a href="javascript:;" class="trigger"></a>
                    <a href="javascript:;" class="trigger"></a>
                </div>
            </div>
            <ul class="imgtxt">
                <li class="active">Josefin Slab was the first typeface–at least in my mind–I designed! But I decided to start simple with Josefin Sans. </li>
                <li>Following the 1930s trend for geometric typefaces, it just came to me that something between Kabel and Memphis with modern details will look great.</li>
                <li>Following the 1930s trend for geometric typefaces, it just came to me that something between Kabel and Memphis with modern details will look great.</li>
            </ul>
        </div>
        <br>
        <br>
        <div class="homearea">
            <div class="hometitle">
                News
            </div>
            <div class="news" id="news">
                <div class="newsframe">
                    <div class="newsimg">
                        <img src="../static/res/img/newsimg1.jpg"/>
                    </div>
                    <div class="newstxt">
                        <div class="newstitle">
                            The spectacle before us
                        </div>
                        <div class="newsabs">
                            Apparently we had reached a great height in the atmosphere, for the sky was a     dead black, and the stars had ceased to twinkle.
                        </div>
                        <br><a href="news.html">Read More</a>
                    </div>
                </div>
                <div class="newsframe">
                    <div class="newsimg">
                        <img src="../static/res/img/newsimg2.jpg"/>
                    </div>
                    <div class="newstxt">
                        <div class="newstitle">
                            Rakkas is single-weight display
                        </div>
                        <div class="newsabs">
                            By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car
                        </div>
                        <br><a href="news.html">Read More</a>
                    </div>
                </div>
                <div class="newsframe">
                    <div class="newsimg">
                        <img src="../static/res/img/newsimg3.jpg"/>
                    </div>
                    <div class="newstxt">
                        <div class="newstitle">
                            The Latin design infuses a blackletter
                        </div>
                        <div class="newsabs">
                            whose upper half was strewn with silver. Looking down into the dark gulf    below, I could see a ruddy light streaming through a rift in the clouds.
                        </div>
                        <br><a href="news.html">Read More</a>
                    </div>
                </div>
            </div>
            <div id="MoreNews" style="float: none;height: auto;margin:5px 0px 45px 30px;" >
                <a href="news-list.html" style="font-size: 25px; font-weight: 600;">
                MORE NEWS
                </a>
            </div>
            
        </div>
            <!--
            <div class="hometitle">
                Conference Calendar
            </div>
            -->

    

    {% endblock %}
    