{% extends "layout.html" %}
{%block actinf%} class="active" {% endblock%}

   
   {% block content%}

        <div class="jobframe">
            <div class="pubnav">
                <aside id="sidebar">
                    <div class="inside">   
                        <table class="table table-hover ">
                    <tbody>
                        <tr>
                            <th>
                                <a href="/information/job1.html">工程师岗位</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="/information/job2.html">项目助理岗位</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="/information/job3.html">博士后岗位</a>
                            </th>
                        </tr>
                    
                    </tbody>
                </table>
                </div>
                </aside>
                
            </div>

            <div class="jobtext">

            {% if job == 1 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            
                            <div class="row">
                             
                                        <img alt="head" width="860px" height="330px" src="../static/res/img/snow-hefei-spec.jpg"> <br> <br>

<!--
                                        <div class="introtxt">
                                            <p>中国科学技术大学计算机科学技术学院下一代移动计算创新实验室招聘工程师</p>
                                        </div> <br><br>
    -->                            

                                <h3 class="job_title">中国科学技术大学计算机科学技术学院下一代移动计算创新实验室招聘工程师</h3> <br><br>

                                <div class="job_content">
                                我实验室承担多项国家大型研究课题，同时与企业展开全面合作，致力于学术研究成果的软件产品转化，现面向社会招募1名硬件工程师、6名软件工程师，愿与有志青年共同奋斗发展。 
                                </div>

                                <h4 class="job_littletitle">
                                招聘岗位
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、硬件工程师1名：熟悉单片机及FPGA开发，电子工程与通信专业优先；</li>
                                
                                <li>2、物联网方向软件工程师2名：熟悉C++、Python等编程语言者优先；</li>
                                
                                <li>3、大数据体系结构方向软件工程师2名： 熟悉Strorm, Spark等大数据计算框架，有相应工程开发经验者优先；</li>
                                
                                <li>4、移动终端方向软件工程师2名：熟悉安卓App开发者优先。</li>
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                基本要求
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、有志从事物联网、信息安全、大数据行业领域技术研究，有该行业背景者更佳；</li>
                                
                                <li>2、计算机理论扎实、熟悉编程、算法、软件工程开发； </li>
                                
                                <li>3、敢于担当，有强烈创业意愿，勇于独立承担课题项目者更佳；</li>
                                
                                <li>4、善于研究及创新，211重点本科以上学历，条件优异可适当放宽； </li>

                                <li>5、具有2年以上软件工程项目经历优先。</li>
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                薪酬待遇
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、具备市场竞争力的薪酬体系，与能力匹配的奖励机制；</li>
                                
                                <li>2、享受校园福利待遇（如校园环境、图书馆、食堂、短期假期等，工作氛围轻松）；</li>
                                
                                <li>3、工作地点位于中国科学技术大学校园内及周边。</li>
                            
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                报名时间
                                </h4>

                                <div class="job_content">
                                即日起至岗位招聘结束
                                </div>

                                <h4 class="job_littletitle">
                                审核面试
                                </h4>

                                <div class="job_content">
                                请将个人简历，个人陈述电子版发送至邮件地址，实验室将按要求进行资格初审后安排面试。
                                </div>

                                <h4 class="job_littletitle">
                                联系方式
                                </h4>

                                <div class="job_content">
                                邮件：plyang@gmail.com, zhanglan@ustc.edu.cn<br>
                                电话：0551-63600107, 15805190469, 18611450516<br>
                                联系人：杨老师，张老师<br>
                                </div> 
                                    </div>
                                    </div>
                                    </div>
                                    </div>

                                {% endif %}




            {% if job == 2 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            
                            <div class="row">
                             
                                        <img alt="head" width="860px" height="330px" src="../static/res/img/snow-hefei-spec.jpg"> <br> <br>

<!--
                                        <div class="introtxt">
                                            <p>中国科学技术大学计算机科学技术学院下一代移动计算创新实验室招聘工程师</p>
                                        </div> <br><br>
    -->                            

                                <h3 class="job_title">中国科学技术大学计算机科学技术学院下一代移动计算创新实验室招聘项目助理</h3> <br><br>

                                <div class="job_content">
                                我实验室承担多项国家大型研究课题，同时与企业展开全面合作，致力于学术研究成果的软件产品转化，现面向社会招募2名项目助理，愿与有志青年共同奋斗发展。
                                </div>

                                <h4 class="job_littletitle">
                                招聘岗位
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、项目财务助理1名：协助处理实验室财务相关工作，要求具有财务经验，无不良从业记录；</li>
                                
                                <li>2、项目行政助理1名：协助处理实验室科研相关工作，要求熟悉计算机业务，有驾驶经验优先。</li>
                                
                               
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                项目财务助理工作职能
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、协助处理项目日常财务核销，财务制度审查，经费预算编制，财务报表编制，财务收支管理，劳务费发放管理等；</li>
                                
                                <li>2、协助处理财务相关文书工作，包括各类文件的起草、打印、收发、传阅和归档等； </li>
                                
                                <li>3、完成领导临时交办的其他任务。</li>
               
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                项目行政助理工作职能
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、协助处理日常办公用品采购、发放、登记管理；</li>
                                
                                <li>2、协助处理文书工作，包括各类文件的起草、打印、收发、传阅和归档等；</li>
                                
                                <li>3、协助处理会务安排事宜，做好会议记录、服务等；</li>
                                <li>4、完成领导临时交办的其他任务。</li>
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                基本要求
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、全日制本科及以上学历，财务或会计类专业和持有会计从业资格证书者优先；</li>
                                
                                <li>2、有海外留学或工作经验者优先，能够胜任中英双语工作环境； </li>
                                
                                <li>3、熟悉办公室行政事务及工作流程，熟悉公文写作格式，具备基本写作能力；</li>
                                
                                <li>4、性格活泼开朗，责任心强，做事认真、细致，具有较好的团队协作精神和服务意识。 </li>
                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                薪酬待遇
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、具备市场竞争力的薪酬体系；</li>
                                
                                <li>2、享受校园福利待遇（如校园环境、图书馆、食堂、短期假期等，工作氛围轻松）；</li>
                                
                                <li>3、工作地点位于中国科学技术大学校园内及周边。</li>
                            
                                </ul>
                                
                                </div>


                                <h4 class="job_littletitle">
                                报名时间
                                </h4>

                                <div class="job_content">
                                即日起至岗位招聘结束
                                </div>

                                <h4 class="job_littletitle">
                                审核面试
                                </h4>

                                <div class="job_content">
                                请将个人简历，个人陈述电子版发送至邮件地址，实验室将按要求进行资格初审后安排面试。
                                </div>

                                <h4 class="job_littletitle">
                                联系方式
                                </h4>

                                <div class="job_content">
                                邮件：plyang@gmail.com, zhanglan@ustc.edu.cn<br>
                                电话：0551-63600107, 15805190469, 18611450516<br>
                                联系人：杨老师，张老师<br>
                                </div> 
                                    </div>
                                    </div>
                                    </div>
                                    </div>

                                {% endif %}



            {% if job == 3 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            
                            <div class="row">
                             
                                        <img alt="head" width="860px" height="330px" src="../static/res/img/snow-hefei-spec.jpg"> <br> <br>

<!--
                                        <div class="introtxt">
                                            <p>中国科学技术大学计算机科学技术学院下一代移动计算创新实验室招聘工程师</p>
                                        </div> <br><br>
    -->                            

                                <h3 class="job_title">中国科学技术大学计算机科学技术大学下一代移动计算创新实验室招聘博士后</h3> <br><br>

                                <div class="job_content">
                                因科研工作需要，中国科学技术大学计算机科学技术大学下一代移动计算创新实验室诚聘博士后研究人员。 
                                </div>

                                <h4 class="job_littletitle">
                                研究方向
                                </h4>

                                <div class="job_content">
                                诚聘对移动计算、大数据和物联网研究方向感兴趣的博士后研究人员。 <br>
上述研究方向均有相关科研项目支撑（如国家重点研发计划、国家自然科学基金项目、国内外知名通信企业合作研究项目等），科研经费充裕。
                                
                                </div>

                                <h4 class="job_littletitle">
                                应聘条件
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、已获得或即将获得相关专业博士学位，年龄不超过35岁；</li>
                                
                                <li>2、深入了解上述某一研究方向或相关领域其最新发展动态，从事过相关领域科研工作；  </li>
                                
                                <li>3、取得了一定的学术成绩，如高水平论文（含已录用）、发明专利、学术奖励等；或具有较强的原型机及Demo开发能力；或者具有较强的项目研发和组织能力；</li>
                                
                                <li>4、富有创新意识，具有独立的科研能力和良好的团队合作精神，英文阅读及写作能力强。 </li>

                                </ul>
                                
                                </div>

                                <h4 class="job_littletitle">
                                工资待遇
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、按照国家和中国科学技术大学规定享受相关工作和生活待遇，并享受课题组额外津贴；</li>
                                
                                <li>2、子女可入中国科学技术大学附属学校就读；学校可提供周转公寓；</li>
                                
                                <li>3、支持到国外一流大学或一流学者课题组进行交流学习；</li>
                                <li>4、博士后期间发表A类论文，参加的纵向、横向项目，都会给予和相应的奖励。博士后出站后，尊重个人意愿，积极协助申报科大特任副研究员岗位。</li>
                                </ul>
                                *基本年薪约为15~30万<br>
                                *可提供博士后公寓、子女入园/学 <br>
                                *享受保险、住房公积金 <br>
                                *享受出站个人及家属户口迁移 <br>
                                
                                </div>

                                <h4 class="job_littletitle">
                                申请材料 
                                </h4>

                                <div class="job_content">
                                <ul>
                                <li>1、个人简历（含个人基本情况、教育经历、科研项目、论文发表、各类获奖等）；</li>
                                
                                <li>2、博士期间主要研究内容（博士论文全文或摘要）；</li>
                                
                                <li>3、三项代表性成果（论文）全文。</li>
                             
                                </ul>
                                </div>

                                <h4 class="job_littletitle">
                                导师
                                </h4>

                                <div class="job_content">
                                李向阳（<a href="http://staff.ustc.edu.cn/~xiangyangli/"> http://staff.ustc.edu.cn/~xiangyangli/ </a>）。
                                </div>

                                <h4 class="job_littletitle">
                                有效期
                                </h4>

                                <div class="job_content">
                                即日起长期招聘。
                                </div>

                                <h4 class="job_littletitle">
                                联系方式
                                </h4>

                                <div class="job_content">
                                邮件：plyang@gmail.com, zhanglan@ustc.edu.cn <br>
                                电话：0551-63600107, 15805190469, 18611450516 <br>
                                联系人：杨老师，张老师 <br>
                                有意者请将申请材料发至上述电子邮箱，邮件标题为：博士毕业院校-申请人姓名-应聘博士后。<br>
                                </div> 
                                    </div>
                                    </div>
                                    </div>
                                    </div>

                                {% endif %}


                                    </div>
                                  </div>
        
        {% endblock %}