<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <!-- <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script> -->
        <script type="text/javascript" src="js/jquery.banner.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/1-col-portfolio.css" rel="stylesheet">
        <link href="css/my.css" rel="stylesheet">
        <title>Lab for Intelligent Networking and Knowledge Engineering</title>
    </head>
    <body>
        <!--头部开始 -->
        <div class="normalhead">
            <div class="cont">
                <div class="head-left">
                    <a href="http://www.ustc.edu.cn/">
                    <img src="res/img/logo.jpg" alt="" /></a>
                </div>
                <div class="nav">
                    <!--导航条-->
                    <ul class="nav-main">
                        <li>
                            <a href="index.html">HOMEPAGE</a>
                        </li>
                        <li id="li-1">
                            <a href="research.html">RESEARCH</a>
                        </li>
                        <li id="li-4">
                            <a href="projects.html">PROJECTS</a>
                        </li>
                        <li id="li-2">
                            <a href="people.html">PEOPLE</a>
                        </li>
                        <li id="li-3">
                            <a href="publications.html">PUBLICATIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="peoplearea">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <!-- Page Heading -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1 class="page-header">All News
                                    </h1>
                                </div>
                            </div>
                            <!-- /.row -->
                            <!-- Project One -->
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">
                                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <h3>News One</h3>
                                    <h4>Subheading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                                    <a class="btn btn-success" href="news.html">View Deatail<span class="glyphicon glyphicon-chevron-right"></span></a>
                                </div>
                            </div>
                            <!-- /.row -->
                            <hr>
                            <!-- Project Two -->
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">
                                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <h3>News Two</h3>
                                    <h4>Subheading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                    <a class="btn btn-success" href="news.html">View Detail<span class="glyphicon glyphicon-chevron-right"></span></a>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#">&laquo;</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">&raquo;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="tail">
            <div class="tail-cont">
                <div class="tail-div">
                    <h2>WEBSITE</h2>
                    <ul>
                        <li>
                            <a href="http://www.ustc.edu.cn/">University of Science and Technology of China</a>
                        </li>
                        <li>
                            <a href="http://ustc.life/">USTC Navigation</a>
                        </li>
                    </ul>
                </div>
                <div class="tail-div">
                    <h2>GET IN TOUCH</h2>
                    <ul>
                        <li>
                            <a href="#">Address1: Rm.712, Third Electric Building, West Campus
                            <br>Address2: Rm.119, Technology Building, West Campus
                            <br>School of Computer Science and Technology
                            <br>University of Science and Technology of China
                            <br>Hefei, Anhui 230027, China</a>
                        </li>
                        <li>
                            <a href="#">Contact number: ####</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <p>© University of Science and Technology of China | All Rights Reserved</p>
            </div>
        </div>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
