{% extends "layout_subpage.html" %}
{%block actnew%} class="active" {% endblock%}
{%block nav%}
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list">
                            </span>News</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#c2017">News1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#c2016">News2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#c2015">News3</a>
                                    </td>
                                </tr>
                              
                            </table>
                        </div>
                    </div>
                </div>

{%endblock%}

{%block text%}
       <!-- <div class="col-sm-9" id="projects_scrollbody">-->
           <div class="project-main">
                <div class="project-content-left">
                    {%for each in res[0]%}
                    <div id="proj_mmwave" class="card-style{{each[3]}}">
                        <div class="card-general">
                            <img class="project-card-img" src="../static/news_img/{{each[2]}}">
                            <div class="card-block">                
                                <h5>{{each[0]}}</h5>                
                                <p class="project-card-content">
                                    {{each[1]}}
                                </p>                
                            </div>            
                        </div> 
                    </div> <!-- mmWave card -->
                    {%endfor%}
                </div>
                <div class="project-content" >
                    {%for each in res[1]%}
                    <div id="proj_sports" class="card-style{{each[4]}}">
                        <div class="card-general">                 
                            <img class="project-card-img" src="../static/news_img/{{each[3]}}">
                            <div class="card-block">
                                <h5>{{each[0]}}</h5>
                                <p class="project-card-content">
                                    {{each[1]}}
                                </p>  
                            </div>            
                        </div> 
                    </div>
                    {%endfor%}
                             
                </div> <!-- End second column -->
            </div><!-- End cards row -->
       <!-- </div>-->

{%endblock%}