<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <!-- <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script> -->
        <script type="text/javascript" src="js/jquery.banner.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="css/my.css" rel="stylesheet">
        <title>Lab for Intelligent Networking and Knowledge Engineering</title>
    </head>
    <body>
        <!--头部开始 -->
        <div class="normalhead">
            <div class="cont">
                <div class="head-left">
                    <a href="http://www.ustc.edu.cn/">
                    <img src="res/img/logo.jpg" alt="" /></a>
                </div>
                <div class="nav">
                    <!--导航条-->
                    <ul class="nav-main">
                        <li>
                            <a href="index.html">HOMEPAGE</a>
                        </li>
                        <li id="li-1">
                            <a href="research.html">RESEARCH</a>
                        </li>
                        <li id="li-4">
                            <a href="projects.html">PROJECTS</a>
                        </li>
                        <li id="li-2" class="active">
                            <a href="people.html">PEOPLE</a>
                        </li>
                        <li id="li-3">
                            <a href="publications.html">PUBLICATIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="peoplearea">
            <div class="peopletitle">Leaders</div>
            <div class="innerframe">
                <a href="http://staff.ustc.edu.cn/~xiangyangli/">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/lixiangyang.jpg" />
                        </div>
                        <div class="peoplename">Xiangyang Li</div>
                        <div class="peoplejob">Professor, IEEE fellow</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/yangpanlong.png" />
                        </div>
                        <div class="peoplename">Panlong Yang</div>
                        <div class="peoplejob">Professor</div>
                    </div>
                </a>
                <a href="http://cs.ustc.edu.cn/szdw/bdjs/201609/t20160923_254536.html">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/zhanglan.jpg" />
                        </div>
                        <div class="peoplename">Lan Zhang</div>
                        <div class="peoplejob">Professor</div>
                    </div>
                </a>
                <a href="http://cs.ustc.edu.cn/szdw/fjs/201609/t20160928_254755.html">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/tanhaisheng.jpg" />
                        </div>
                        <div class="peoplename">Haisheng Tan</div>
                        <div class="peoplejob">Associate Professor</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Hao Zhou</div>
                        <div class="peoplejob">Lecturer</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="peoplearea">
            <div class="peopletitle">Current Members</div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Teaho Jung</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Jianwei Qian</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Linlin Chen</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Jiahui Hou</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Haishi Du</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
            </div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe f1">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Zhenan Wu</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Shuangshuang Xue</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Ping Li</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Yanbo Deng</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Haohua Du</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
            </div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Yiqing Hu</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Maotian Zhang</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Yubo Yan</div>
                        <div class="peoplejob">PhD Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Peide Zhu</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Chao Xu</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
            </div>

            <div class="innerframe">
                 <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Wenbin Shi</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Dong Ren</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Jiaying Meng</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Anran Li</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Junjun Wang</div>
                        <div class="peoplejob">MS Student</div>
                    </div>
                </a>
            </div>

        </div>

        <div class="peoplearea">
            <div class="peopletitle">Alumni</div>

        </div>
        


<!--
        <div class="peoplearea">
            <div class="peopletitle">Master Students</div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Peide Zhu</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Chao Xu</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Wenbin Shi</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Dong Ren</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Jiaying Meng</div>
                    </div>
                </a>
            </div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Anran Li</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Junjun Wang</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Wenqi Bi</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Fei Wang</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Lan Chen</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="peoplearea">
            <div class="peopletitle">Undergraduate Students</div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Dianzhe Jiang</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Qian Dai</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Daren Zheng</div>
                    </div>
                </a>
                <a href="http://home.ustc.edu.cn/~liuhuiqi">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/liuhuiqi.jpg" />
                        </div>
                        <div class="peoplename">Huiqi Liu</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Xiang Xiao</div>
                    </div>
                </a>
            </div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Chi Zhang</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Mingjie Li</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Tianyi Cui</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f4">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Feng Han</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f5">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Ning Xiao</div>
                    </div>
                </a>
            </div>
            <div class="innerframe">
                <a href="#">
                    <div class="peopleframe">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Jiahao Li</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f2">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Jiajing Xiong</div>
                    </div>
                </a>
                <a href="#">
                    <div class="peopleframe f3">
                        <div class="peopleimg">
                            <img src="res/img/people/unknown.jpg" />
                        </div>
                        <div class="peoplename">Xiaojing Yu</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="peoplearea">
            <div class="peopletitle">Alumnus Students</div>
        </div>

        -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="tail">
            <div class="tail-cont">
                <div class="tail-div">
                    <h2>WEBSITE</h2>
                    <ul>
                        <li>
                            <a href="http://www.ustc.edu.cn/">University of Science and Technology of China</a>
                        </li>
                        <li>
                            <a href="http://ustc.life/">USTC Navigation</a>
                        </li>
                    </ul>
                </div>
                <div class="tail-div">
                    <h2>GET IN TOUCH</h2>
                    <ul>
                        <li>
                            <a href="#">Address1: Rm.712, Third Electric Building, West Campus
                            <br>Address2: Rm.119, Technology Building, West Campus
                            <br>School of Computer Science and Technology
                            <br>University of Science and Technology of China
                            <br>Hefei, Anhui 230027, China</a>
                        </li>
                        <li>
                            <a href="#">Contact number: ####</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <p>© University of Science and Technology of China | All Rights Reserved</p>
            </div>
        </div>
    </body>
</html>
