{% extends "layout.html" %}
{%block actpub%} class="active" {% endblock%}

   
   {% block content%}

        <div class="pubframe">

                        <div class="col-sm-3 col-md-3" id="myNav">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list">
                            </span>2016</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#2016">Data Mining</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.baidu.com">Data Privacy </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.baidu.com">Data Trading</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>2015</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-list">
                            </span>2014</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>2013</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="pubtext">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2016"></span> 2016</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs2016 %}
                        <tr>
                            <td> <span class="paperstyle">
                                {{pub[1]}}. <b>{{pub[2]}}</b>. {{pub[3]}}, {{pub[4]}}. [<a href="../static/{{pub[5]}}">PDF</a>]   </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2015"></span>2015</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs2015 %}
                        <tr>
                            <td> <span class="paperstyle">
                                {{pub[1]}}. <b>{{pub[2]}}</b>. {{pub[3]}}, {{pub[4]}}. [<a href="../static/{{pub[5]}}">PDF</a>]   </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2014"></span>
                                2014
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs2014 %}
                        <tr>
                            <td> <span class="paperstyle">
                                {{pub[1]}}. <b>{{pub[2]}}</b>. {{pub[3]}}, {{pub[4]}}. [<a href="../static/{{pub[5]}}">PDF</a>]   
                            </td> </span>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2013"></span>
                                2013
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>

                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2012"></span>
                                2012
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>
        
        {% endblock %}