{% extends "layout.html" %}
{%block actpub%} class="active" {% endblock%}


        
   
   {% block content%}

        <div class="pubframe">
            <div class="pubnav">
                <aside id="sidebar">
                    <div class="inside">   
                        <table class="table table-hover ">
                    <tbody>
                        <tr>
                            <th>
                                <a href="#h2016">2016</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="#h2015">2015</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="#h2014">2014</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="#h2013">2013</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="#h2012">2012</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
                </div>
                </aside>
                
            </div>
            <div class="pubtext">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2016"></span> 2016</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs2016 %}
                        <tr>
                            <td>
                                {{pub[1]}}. <b>{{pub[2]}}</b>. {{pub[3]}}, {{pub[4]}}. [<a href="../static/{{pub[5]}}">PDF</a>]   
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2015"></span>2015</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs2015 %}
                        <tr>
                            <td>
                                {{pub[1]}}. <b>{{pub[2]}}</b>. {{pub[3]}}, {{pub[4]}}. [<a href="../static/{{pub[5]}}">PDF</a>]   
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2014"></span>
                                2014
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs2014 %}
                        <tr>
                            <td>
                                {{pub[1]}}. <b>{{pub[2]}}</b>. {{pub[3]}}, {{pub[4]}}. [<a href="../static/{{pub[5]}}">PDF</a>]   
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2013"></span>
                                2013
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>

                    <thead>
                        <tr>
                            <th><span class="placeholder" id="h2012"></span>
                                2012
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>
        
        {% endblock %}