{% extends "layout.html" %}
{%block actres%} class="active" {% endblock%}
        {%block content%}

        <div class="peoplearea">
            <div class="container">
                <div class="row">
                     <div class="col-sm-3 col-md-3 ">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list">
                            </span>Data Group</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#2016">Data Mining</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.baidu.com">Data Privacy </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.baidu.com">Data Trading</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Wireless Group</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">无色</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">无味</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">无源</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                    <div class="col-sm-9 col-md-9">
                        <div class="jumbotron">
                            
                            <div class="row">
                             
                                        <img alt="head" width="760px" height="250px" src="../static/res/img/snow-hefei-spec.jpg"> <br> <br>

                                        <div class="introtxt">
                                            <p>In the field of advanced mobile computing, we aim to carry out innovative research and platform construction from the aspect of wireless communication technology and data privacy services.</p>
                                        </div> <br><br>
                                

                                <h3 class="hometitle_Small"><a href="WirelessGroup.html">Wireless Networking Group</a></h3> <br><br>
                                
                                <h4 class="littletitle">
                                Sensing and Imaging through Walls Based on Universal Wireless Signals
                                </h4>
                                
                                <div class="content">
                                To analyze the number, movement, and even breathing and heartbeat of people in the house, with the capacity of travelling through walls of commonly used Wi-Fi signals (or universal communication signals, frequency between 2.4GHz and 24GHz), and the changes in parameter model. We propose to build a sensing system to detect the situation of people on the other side of the wall. We continue the research on how to reduce error and improve accuracy using interference management techniques. Moreover, we are interested in how to use the wireless signal to achieve through the wall perspective and imaging and other high-precision perception.
                                <br> <br>
                                 <ul><li>Reference:
                                Sensing and Imaging through Walls Based on Universal Wireless Signals</li></ul>
                                
                                </div> <br>

                                <h4 class="littletitle">
                                Battery-Free Network Based on Energy Harvesting and Backscatter
                                </h4>
                                
                                <div class="content">
                                Based on our research on energy harvesting from communication signals and smart label technology, we take full advantage of the energy-intensive nature of advanced communication signals (such as OFDM) and beamforming-driven energy harvesting pattern to carry on the research on passive modulation and co-modulation technologies in multi-label systems.
                                <br> <br><ul><li>Reference:
                                Sensing and Imaging through Walls Based on Universal Wireless Signals</li></ul>
                                
                                </div> <br>
                                  
                                <h4 class="littletitle">
                                Deeply Cross-domain Sensing Based on Multi-sensors
                                </h4>  
                                    
                                <div class="content">
                                We exploit the possibility to sense the real world using electromagnetic, optical, acoustic, etc., signals using Hidden Channel Analysis on multi-source information fusion. On one hand, we take full advantage of the association of collected sensing information with its temporal, spatial and network features and the advanced data mining techniques, to improve the sensing efficiency. On the other hand, we develop customized signal filtering and noise processing algorithms to effectively extract useful signal features and reduce the influence of noise. Further, based on the sensing data and feature analysis, we are of concern to build a feedback circuit for cyber-physics systems and lay the solid foundation for the Internet-of-Things applications.
                                <br> <br> <ul><li>Reference:
                                Sensing and Imaging through Walls Based on Universal Wireless Signals</li></ul>
                                
                                </div> <br>
                                       
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>

        {% endblock %}