{% extends "layout_subpage.html" %}
{%block actres%} class="active" {% endblock%}
{%block nav%}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list">
                            </span>Wireless Group</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#rw1">Sensing and Imaging through Walls Based on Universal Wireless Signals</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#rw2">Battery-Free Network Based on Energy Harvesting and Backscatter</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#rw3">Deeply Cross-domain Sensing Based on Multi-sensors</a>
                                    </td>
                                </tr>
                              
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-list">
                            </span>Data Group</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#rd1">Unstructured Data Understanding and Privacy Protection Based on Deep learning</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#rd2">Big Data Transaction</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#rd3">Protection of Privacy Computing and Services</a>
                                    </td>
                                </tr>
                              
                            </table>
                        </div>
                    </div>
                </div>
{%endblock%}


{%block text%}
<img alt="head" width="760px" height="250px" src="../static/res/img/snow-hefei-spec.jpg"> <br> <br>
<!--
                                        <div class="introtxt">
                                            <p>In the field of advanced mobile computing, we aim to carry out innovative research and platform construction from the aspect of wireless communication technology and data privacy services.</p>
                                        </div> <br><br>
    -->                            

                                <h3 class="hometitle_Small">Wireless Networking Group</h3> 
                                
                                
                                <h4 class="littletitle">
                                Sensing and Imaging through Walls Based on Universal Wireless Signals
                                </h4>
                                
                                <div class="content">
                                To analyze the number, movement, and even breathing and heartbeat of people in the house, with the capacity of travelling through walls of commonly used Wi-Fi signals (or universal communication signals, frequency between 2.4GHz and 24GHz), and the changes in parameter model. We propose to build a sensing system to detect the situation of people on the other side of the wall. We continue the research on how to reduce error and improve accuracy using interference management techniques. Moreover, we are interested in how to use the wireless signal to achieve through the wall perspective and imaging and other high-precision perception.
     
                                </div> <br>
                                
                                <h4 class="littletitle">
                   
                                Battery-Free Network Based on Energy Harvesting and Backscatter
                                </h4>
                                
                                <div class="content">
                                Based on our research on energy harvesting from communication signals and smart label technology, we take full advantage of the energy-intensive nature of advanced communication signals (such as OFDM) and beamforming-driven energy harvesting pattern to carry on the research on passive modulation and co-modulation technologies in multi-label systems.
                                
                                </div> <br>
                                
                                <h4 class="littletitle">
                                
                                Deeply Cross-domain Sensing Based on Multi-sensors
                                </h4>  
                                    
                                <div class="content">
                                We exploit the possibility to sense the real world using electromagnetic, optical, acoustic, etc., signals using Hidden Channel Analysis on multi-source information fusion. On one hand, we take full advantage of the association of collected sensing information with its temporal, spatial and network features and the advanced data mining techniques, to improve the sensing efficiency. On the other hand, we develop customized signal filtering and noise processing algorithms to effectively extract useful signal features and reduce the influence of noise. Further, based on the sensing data and feature analysis, we are of concern to build a feedback circuit for cyber-physics systems and lay the solid foundation for the Internet-of-Things applications.
                                
                                </div> <br>  

                                <h3 class="hometitle_Small">Data Group</h3> 
                                
                                <h4 class="littletitle">
                                Unstructured Data Understanding and Privacy Protection Based on Deep learning
                                </h4>
                                
                                <div class="content">
                                Focused on massive amounts of unstructured data, such as sensor data, audio and image data, which are collected from various mobile devices (e.g., smartphones, smart watch, smart glasses and motion camera), we use the signal processing and the deep learning technology to understand complex semantics of data, manage index, identify and protect the private information. 
     
                                </div> <br>
                                
                                <h4 class="littletitle">
                                Big Data Transaction
                                </h4>
                                
                                <div class="content">
                                As the age of big data is coming, boosting open circulation of massive isolated data, promoting data-commodity-based transaction and improving the value in use of data resources are in demand. With a number of problems, such as easiness of data copy, difficulty in pricing, complexity in sales channels management, and the user specific requirement for data security and transaction platform management, we do research on following issues: data transaction model, data safety certification, source marking, quality assessment and pricing, auction protocol and traceability of data. 
                                
                                </div> <br>
                                
                                <h4 class="littletitle">
                                Protection of Privacy Computing and Services
                                </h4>  
                                    
                                <div class="content">
                                We do research on how to protect data privacy while not affect the various types of data services, which includes the study of homomorphic computing protocol, the verifiability of privacy computation, the efficiency of privacy computation and the management, classification and search of encrypted data for various computing models and computing services. 
                                
                                </div> <br>  
{%endblock%}
                