<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.banner.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href = "css/style.css" type="text/css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/my.css" rel="stylesheet">
        <title>Lab for Intelligent Networking and Knowledge Engineering</title>
    </head>
    <body>
        <!--头部开始 -->
        <div class="normalhead">
            <div class="cont">
                <div class="head-left">
                    <a href="http://www.ustc.edu.cn/">
                    <img src="res/img/logo.jpg" alt="" /></a>
                </div>
                <div class="nav">
                    <!--导航条-->
                    <ul class="nav-main">
                        <li>
                            <a href="index.html">HOMEPAGE</a>
                        </li>
                        <li id="li-1">
                            <a href="research.html">RESEARCH</a>
                        </li>
                        <li id="li-4">
                            <a href="projects.html">PROJECTS</a>
                        </li>
                        <li id="li-2">
                            <a href="people.html">PEOPLE</a>
                        </li>
                        <li id="li-3">
                            <a href="publications.html">PUBLICATIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="peoplearea">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h2 class="hometitle">Wireless Networking Group</h2>
                            <br>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="thumbnail">
                                        <img alt="head" src="res/img/snow-hefei-spec.jpg">
                                        <div class="caption">
                                            <p>In the field of advanced mobile computing, we aim to carry out innovative research and platform construction from the aspect of wireless communication technology and data privacy services.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="tail">
            <div class="tail-cont">
                <div class="tail-div">
                    <h2>WEBSITE</h2>
                    <ul>
                        <li>
                            <a href="http://www.ustc.edu.cn/">University of Science and Technology of China</a>
                        </li>
                        <li>
                            <a href="http://ustc.life/">USTC Navigation</a>
                        </li>
                    </ul>
                </div>
                <div class="tail-div">
                    <h2>GET IN TOUCH</h2>
                    <ul>
                        <li>
                            <a href="#">Address1: Rm.712, Third Electric Building, West Campus
                            <br>Address2: Rm.119, Technology Building, West Campus
                            <br>School of Computer Science and Technology
                            <br>University of Science and Technology of China
                            <br>Hefei, Anhui 230027, China</a>
                        </li>
                        <li>
                            <a href="#">Contact number: ####</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                <p>© University of Science and Technology of China | All Rights Reserved</p>
            </div>
        </div>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="js/jquery.fn.gantt.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="js/my.js"></script>
    </body>
</html>
